In [1]:
l=[1,2,3,4]

In [3]:
l[0]=2

In [4]:
l

[2, 2, 3, 4]

In [5]:
id(l)

93902344

In [11]:
l=[1,2,3,4]
print(l)
print(id(l))
l[0]=3
print(l)
print(id(l))

[1, 2, 3, 4]
106803080
[3, 2, 3, 4]
106803080

In [14]:
s="My  name is afzal ali"
print(id(s))
k=s[::-1]
print(k)
print(id(k))
print(s)

111132864
ila lazfa si eman  yM
111133584
My  name is afzal ali

In [16]:
s="""
name afzal ali 7697345341
name rakesh 9928757168
name sachin pareek 9928871084"""
f=open("txt.txt",'w')
f.write(s)
f.close()

In [17]:
cat txt.txt

SyntaxError: invalid syntax (<ipython-input-17-14c286429938>, line 1)

In [18]:
file=open("txt.txt",'r')

In [19]:
file

In [20]:
print(file)

<_io.TextIOWrapper name='txt.txt' mode='r' encoding='cp1252'>

In [21]:
k=file.read()

In [22]:
k

'\nname afzal ali 7697345341\nname rakesh 9928757168\nname sachin pareek 9928871084'

In [24]:
print(k)

name afzal ali 7697345341
name rakesh 9928757168
name sachin pareek 9928871084

In [25]:
import re

In [38]:
find=re.compile("[0-9]{10}")

In [27]:
re.findall(find,k)

['7697345341', '9928757168', '9928871084']

In [35]:
s="""
name afzal ali 7697345341
name rakesh 9928757168
name sachin pareek 9928871084
read 12345 """
f=open("txt.txt",'w')
f.write(s)
f.close()

In [36]:
f=open("txt.txt",'r')
l=f.read()
f.close()

In [37]:
re.findall(find,l)

['7697345341', '9928757168', '9928871084']

In [39]:
find=re.compile("[0-9]{5}")

In [40]:
re.findall(find,l)

['76973', '45341', '99287', '57168', '99288', '71084', '12345']

In [50]:
a="""
I am a mayor 
U r a meyor
dsvgsdvghs mayer
safafafa meyer
asafsf mayar
fhgfghf mayarr
m1yer"""

In [57]:
find=re.compile("m[a-z,0-9]y[a-z]r")

In [58]:
re.findall(find,a)

['mayor', 'meyor', 'mayer', 'meyer', 'mayar', 'mayar', 'm1yer']

In [59]:
a=1

In [60]:
print(a.__doc__)

int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4

In [64]:
b=2

In [66]:
a+b

3

In [68]:
a.__add__(b)

3

In [69]:
c=7

In [70]:
a.__add__(b.__add__(c))

10

In [ ]:
a=input().split(" ")

In [75]:
a